.terraform*
terraform.tfstate
terraform.tfstate*
docker-services-generated
*.ign
*.qcow2
*.iso
openshift-binaries/*
openshift-generated/*
.openshift*
openshift-configs/*
talosconfig
kubeconfig
sno-generated/*
sno-configs/*
!bootstrap-in-place-for-live-iso.ign
!.gitkeep