.terraform*
terraform.tfstate
terraform.tfstate*
docker-services-generated
*.ign
*.qcow2
*.iso
openshift-binaries/*
openshift-generated/*
.openshift*
openshift-configs/*
!.gitkeep
talosconfig
kubeconfig
infra/talos/talos-init/files/*